*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* BODY - tegini doimiy ravishda har tomonida 8px margini bo'ladi shuni doimiy ravishda olib tashlashimiz kerak, doim -> margin: 0; */
    background-color: #FEFCF7;
    /* background-color: #00f; */
    font-family: "Fraunces", "Arial", sans-serif;
    font-weight: 900;
}

ul, 
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1310px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/***************** HEADER STYLES START *****************/
.site-header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    padding-top: 43px;
    padding-bottom: 43px;
    background-color: #FEFCF7;
    /* box-shadow: 0 0 5px 5px #ccc; */
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav__list{
    display: flex;
}

.sitenav__item:not(:last-child){
    margin-right: 32px;
}

.sitenav__link{
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}

.sitenav__link:active{
    color: #333D4B;
}

/* HIDDEN HEADER START */
.burger-menu__btn{
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.hidden-header{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 90px;
    padding-top: 40px;
    background: linear-gradient(to top, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    transition: 0.5s;
    transform: translateY(-150%);
}

.hidden-header.show-header{
    transform: translateY(0%);
}

.hidden-nav{
    display: flex;
    justify-content: center;
    text-align: center;
}

.hidden-nav__item{
    margin-bottom: 32px;
}

.hidden-nav__link{
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;    
}
/* HIDDEN HEADER END */

/******* HEADER RESPONSIVE START ******/
@media only screen and (max-width: 1200px) {
    .site-header{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .site-header__logo--img{
        width: 235px;
        height: 25px;
    }
}

@media only screen and (max-width: 565px) {
    .site-header{
        padding-top: 34px;
        padding-bottom: 34px;
    }
    
    .sitenav{
        display: none;
    }
    
    .burger-menu__btn{
        display: block;
    }
    
    .site-header__logo--img{
        width: 162px;
        height: 17px;
    }
    
    
}
/******* HEADER RESPONSIVE END ******/
/***************** HEADER STYLES END *****************/

/******************** MAIN STAYLES START ********************** */
.site-main{
    background-color: #FEFCF7;
}
/**************** HERO STYLE START *******************/

.hero{
    margin-bottom: 136px;
}

.hero__wrapper{
    padding-top: 117px;
    padding-bottom: 116px;
    padding-left: 85px;
    background-image: url("../images/herobg.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.hero__wrapper-start{
    max-width: 493px;
}

.hero__wrapper-title{
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero__wrapper-desc{
    width: 445px;
    margin-top: 0;
    margin-bottom: 56px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.hero__wrapper-link{
    padding: 15px 31px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background: #0E8784;
    border-radius: 6px;
    color: #FEFCF7;
}

/**************** HERO STYLE START *******************/


/***************** HERO RESPONSIVE START *************** */
@media only screen and (max-width: 768px){
    .hero__wrapper{
        padding-top: 104px;
        padding-bottom: 104px;
        padding-left: 58px;
        background-image: url("../images/herobgresp.png");
    }
    
    .hero__wrapper-title{
        width: 329px;
        margin-bottom: 24px;
        font-size: 48px;
        line-height: 48px;
    }
    
    .hero__wrapper-desc{
        width: 398px;
        margin-bottom: 40px;
        font-size: 15px;
        line-height: 25px;
    }
    
}

@media only screen and (max-width: 476px) {
    .hero__wrapper{
        position: relative;
        padding-top: 100px;
        padding-right: 24px;
        padding-bottom: 99px;
        padding-left: 24px;
        background-image: url("../images/herobgmob.png");
        text-align: center;
        z-index: 1;
    }
    
    .hero__wrapper::after{
        position: absolute;
        z-index: 2;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.568);
    }
    
    .hero__wrapper-start{
        position: relative;
        z-index: 3;
    }
    
    .hero__wrapper-title{
        width: 100%;
        font-size: 40px;
        line-height: 40px;
    }
    
    .hero__wrapper-desc{
        width: 100%;
        font-size: 15px;
        line-height: 25px;
    }
}

/***************** HERO RESPONSIVE END *************** */




/***************** COLLECTION STYLE START *************  */
.our-collection{
    margin-bottom: 500px;
}

.collection__wrapper{
    position: relative;
    width: 100%;
    max-width: 1111px;
    margin-right: auto;
    margin-left: auto;
}

.collection__wrapper-title{
    font-size: 170px;
    line-height: 1.5;
    text-align: center;
    opacity: 0.5;   
    color: transparent;
    background-color: #83888F;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.collection__list{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 126px;
}

.collection__item{
    width: 100%;
    max-width: 255px;
    text-align: center;
}

.collection__item:not(:last-child){
    margin-right: 30px;
}

.collection__item-img{
    margin-bottom: 71px;
}

.collection__item-title{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.collection__item-desc{
    margin-top: 0;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}


/***************** COLLECTION RESPONSIVE START ***************** */

@media only screen and (max-width: 1130px){
    .collection__wrapper{
        max-width: 1030px;
    }    
}

@media only screen and (max-width:914px){
    .collection__wrapper-title{
        font-size: 130px;
    }

}

@media only screen and (max-width: 805px){
    .collection__wrapper-title{
        font-size: 100px;
    }

    .collection__list{
        flex-wrap: wrap;
        top: 74px;
    }
}



@media only screen and (max-width: 768px){
    .collection__wrapper-title{
        font-size: 100px;
    }

    .collection__list{
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-wrap: no-wrap;
        top: 126px;
    }

    .collection__list{
        top: 74px;
    }
}


@media only screen and (max-width: 635px){
    .collection__wrapper-title{
        font-size: 85px;
    }

    
    .collection__list{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 126px;
    }

    .collection__item:not(:last-child){
        margin-right: 0;
    }

    .collection__item{
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 545px){
    .collection__wrapper-title{
        font-size: 75px;
    }

    
    .collection__list{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 126px;
    }

    .collection__item:not(:last-child){
        margin-right: 0;
    }

    .collection__item{
        margin-right: auto;
        margin-left: auto;
    }
}





@media only screen and (max-width: 420px){
    .collection__wrapper-title{
        font-size: 43px;
    }

    .collection__list{
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-wrap: no-wrap;
        top: 126px;
    }


    .collection__item:not(:last-child){
        margin-right: 0;
    }

    .collection__item{
        margin-right: auto;
        margin-left: auto;
    }

    .collection__list{
        top: 74px;
    }
}

/***************** COLLECTION RESPONSIVE END ***************** */

/***************** COLLECTION STYLE END *************  */
/******************** MAIN STAYLES START ********************** */
